<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/to-do.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>ONLINE TEST PORTAL</b></a>
            <!--logo end-->
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li><button type="submit" id="forSubmit" class="logout" style="background-color: blue" form="questionDetails">Create Test</button></li>
                    <li><a class="logout" href="login.html">Logout</a></li>
              </ul>
            </div>
      </header>      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered" id="ExaminerName"></h5>
                    
                  <li class="mt">
                      <a href="index.html" onclick="viewDetails">
                          <i class="fa fa-dashboard"></i>
                          <span>Home</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Create Test</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="viewTest.html">
                          <i class="fa fa-desktop"></i>
                          <span>View Tests</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
        <!-- <h2>Question</h2> -->
      <section id="main-content">
          <section class="wrapper site-min-height">
            <!-- SORTABLE TO DO LIST -->
             <form id="questionDetails">
              <div class="row" id="q1">
                  <div class="col-md-12">
                      <section class="task-panel tasks-widget">
                    <div class="panel-heading">
                          <label><h4 id="question">Question 1</h4></label>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <input id="qString" type="text" class="form-control">
                              </div>
                          </div>
                    </div>
                          <div class="panel-body">
                              <div class="task-content container-fluid">
                                  <label><h4>Options</h4></label>
                                  <ul id="sortable">
                                      <div class="row">
                                        <li class="list-primary">
                                              <div class="col-sm-1">
                                                  <input type="radio" style="float: left;" name="addQuesRadio1" value="1" checked="true" />
                                              </div>
                                              <div class="col-sm-8">
                                                  <input id="option1" type="text" class="form-control">
                                              </div>
                                      </li>
                                      </div>
                                      
                                      <div class="row">
                                        <li class="list-primary">
                                              <div class="col-sm-1">
                                                  <input type="radio" style="float: left;" name="addQuesRadio1" value="2" />
                                              </div>
                                              <div class="col-sm-8">
                                                  <input id="option2" type="text" class="form-control">
                                              </div>
                                      </li>
                                      </div>
                                      <div class="row">
                                        <li class="list-primary">
                                              <div class="col-sm-1">
                                                  <input type="radio" style="float: left;" name="addQuesRadio1" value="3" />
                                              </div>
                                              <div class="col-sm-8">
                                                  <input id="option3" type="text" class="form-control">
                                              </div>
                                      </li>
                                      </div>
                                      <div class="row">
                                        <li class="list-primary">
                                              <div class="col-sm-1">
                                                  <input type="radio" style="float: left;" name="addQuesRadio1" value="4"  />
                                              </div>
                                              <div class="col-sm-8">
                                                  <input id="option4" type="text" class="form-control">
                                              </div>
                                      </li>
                                      </div>
                                  </ul>
                              </div>
                              <div class="add-task-row">
                                  <a class="btn btn-success btn-sm pull-left" onclick="add()">Add Question</a>
                                  <a class="btn btn-danger btn-sm pull" id="remove1" onclick="remove(this.id)">Delete Question</a>
                                  <!-- <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a> -->
                              </div>
                          </div>
                      </section>
                  </div><!--/col-md-12 -->
              </div><!-- /row -->
         </form>

         <!-- Modal for displaying message -->
         <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="messageHeader" class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                <p id="message"></p>
              </div>
              <div class="modal-footer">
                <button id="modalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
      
          </div>
        </div>
        <!-- Modal ends here -->
  
    </section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2016-OTP
              <a href="todo_list.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>    
    <script src="assets/js/tasks.js" type="text/javascript"></script>

    <script>
      // jQuery(document).ready(function() {
      //     TaskList.initTaskWidget();
      // });
      // $(function() {
      //     $( "#sortable" ).sortable();
      //     $( "#sortable" ).disableSelection();
      // });
    </script>
    
    
  <script>
      //custom select box
      // $(function(){
      //     $('select.styled').customSelect();
      // });
  </script>

  <script>
      if(sessionStorage.getItem('examinerID')==null){
          window.location='homePage.html';
      }
      else{
          $('#ExaminerName').html(sessionStorage.getItem('examinerName'));
      }
    countQuestions=1;
    maxQuestions=20;
    questionID=1;
    var tobeCloned=$("#q1").clone();
    // $(document).ready(function(){
    //   alert("hello");
    // })
    // $(document).ready(function(){
      
      //$('#remove').attr('id','remove'+countQuestions);
      //alert($('#remove1').attr('id'));
      //$('#remove')attr('id','remove'+id);
    // $(".add").click(function(){
    //     alert("hello");
    //     $("#main-content").clone().appendTo("body");
    // });
    //$('#remove').attr('id','remove1');
    //});
    function add()
    {
        var clone =tobeCloned.clone();
        countQuestions++;
        clone.attr('id',"q"+countQuestions);
        clone.find("#question").html("Question "+countQuestions);
        clone.find("#remove1").attr("id",'remove'+countQuestions);
        clone.find("input[name=addQuesRadio1]").attr("name","addQuesRadio"+countQuestions);
        clone.appendTo("#questionDetails");
    }

    function remove(id)
    {
      if(countQuestions>1)
      {
        var qNo = id.replace("remove", "");
        $('#q'+qNo).remove();
        //alert(qNo);
        var i=qNo+1;
        var updatedID=i-1;
        for(i=qNo;i<=countQuestions;i++)
        {
          // var question=document.getElementById('q'+i);
          var updatedID=i-1;
          // alert("hello");
          $('#q'+i).attr('id','q'+updatedID);
          // //alert(question.attr('id'));
          // //alert($('#q'+i-1).find("#question").html());
          $('#q'+updatedID).find("#question").html("Question "+updatedID);
          $('#q'+updatedID).find("#remove"+i).attr("id",'remove'+updatedID);
          $("input[name=addQuesRadio"+i+"]").attr("name","addQuesRadio"+updatedID);
        }
        countQuestions--;
      }
      else
        alert("Minimum 1 Question");
    }
      $(document).ready(function()
      {
        $('#forSubmit').click(function(e){
          //alert("hello");
          var questions=[];
          //alert("hello2");
          for(var i=1;i<=countQuestions;i++)
            {
              var qString=$('#q'+i).find("#qString").val();
              var option1=$('#q'+i).find("#option1").val();
              var option2=$('#q'+i).find("#option2").val();
              var option3=$('#q'+i).find("#option3").val();
              var option4=$('#q'+i).find("#option4").val();
              var correct=$('input[name=addQuesRadio'+i+']:checked', '#questionDetails').val();
              correct=$('#q'+i).find("#option"+correct).val();
              var question={qString:qString,option1:option1.toString(),option2:option2.toString(),option3:option3.toString(),option4:option4.toString(),correct:correct.toString()};
              questions.push(question);
          }
          window.console.log(questions);
            var testData={examinerId:sessionStorage.getItem('examinerID'),name:sessionStorage.getItem('testName'),duration:sessionStorage.getItem('duration'),password:sessionStorage.getItem('password'),questions:questions};
            window.console.log(testData);
            $.ajax({
                url:'http://localhost:3000/api/createTest',
                type:'post',
                data:JSON.stringify(testData),
                contentType:'application/json',
                dataType:'json',
                success:function(message){
                    alert('Success');
                    window.console.log(message);
                    if(message.hasOwnProperty('error'))
                    {
                      $('#messageHeader').html("Error");
                      $('#message').html(message.error);
                      $('#myModal').modal('show');
                    }
                    else
                    {
                      $('#messageHeader').html("Success");
                      $('#message').html("Test created successfully");
                      // $('#myModal').bind('hide',function(){
                      //     window.location="index.html";
                      // });
                      $('#myModal').modal('show');
                      // $(".close").click(function () {
                      //     window.location = "index.html";
                      // });
                      // $("#modalClose").click(function () {
                      //     window.location = "index.html";
                      // });
                      // $('#myModal').close(function(){
                      //   window.location="index.html";
                      // })
                      $("#myModal").on("hidden.bs.modal", function () {
                     // put your default event here
                          window.location="index.html";
                      });
                    } 
                }
            });
        e.preventDefault();
      });
      });
  </script>

  </body>
</html>